{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div>
        {{ user.email }}
        <br>
        {{ user.fullName }}
        <br>
        {{ user.proff }}
        <br>
        {{ user.age }}
    </div>
{% endblock %}
